{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block title %}
<li class="breadcrumb-item">
    <a href="{% url 'participation:clubs_list' %}">
        {% trans "clubs" %}
    </a>
</li>

<li class="breadcrumb-item active">
    {{ club.title }}
</li>
{% endblock %}

{% block content %}
<div class="col-sm-3" style="text-align: center;">
    <br />
    {% if not is_mine %}
        {% if is_member %}
            <a href="{% url 'participation:club_leave' club_id=club.id %}" class="text-danger">
                {% trans "leave" %}
            </a>
        {% elif is_pending %}
            <a href="{% url 'participation:club_leave' club_id=club.id %}" class="text-danger">
                {% trans "cancel request" %}
            </a>
        {% else %}
            <a href="{% url 'participation:club_join' club_id=club.id %}" class="text-success">
                {% trans "join request" %}
            </a>
        {% endif %}
    {% else %}
        <a href="{% url 'participation:club_edit' club_id=club.id %}">
            {% trans "edit" %}
        </a>
        <hr class="club-ops-hr">
        <a href="{% url 'planning:plan_create' club_id=club.id %}">
            {% trans "new plan" %}
        </a>
    {% endif %}
</div>
<div class="col-sm-7">
    <br />
    <table class="table">
        <tbody>
            <tr>
                <th scope="row">
                    {% trans "owner" %}
                </th>
                <td>
                    {{ club.owner.first_name }}
                    {{ club.owner.last_name }}
                </td>
            </tr>
            <tr>
                <th scope="row">
                    {% trans "members" %}
                </th>
                <td>
                    {{ club.members_cnt }} {% trans "persons" %}
                    (<a href="{% url 'participation:club_join_requests' club_id=club.id %}">{% trans "list" %}</a>)
                </td>
            </tr>
            <tr>
                <th scope="row">
                    {% trans "plans" %}
                </th>
                <td>
                    {{ club.plans_cnt }}
                    (<a href="{% url 'planning:plans_list' club_id=club.id %}">{% trans "list" %}</a>)
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="col-sm-2"></div>
{% endblock %}
