{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block title %}
<li class="breadcrumb-item">
    <a href="{% url 'planning:plans_list' club_id=club_id %}">
        {% trans "plans" %}
    </a>
</li>

<li class="breadcrumb-item active">
    {% trans "add plan" %}
</li>
{% endblock %}

{% block content %}
<div class="col-sm-3"></div>
<div class="col-sm-6">
    <div class="card card-form">
        <div class="card-header">
            {% trans "plan properties" %}
        </div>
        <div class="card-body">
            <form method="post" action="{% url 'planning:plan_create' club_id=club_id %}">
                {% csrf_token %}
                {{ form | crispy}}
                <input type="submit" name="" value="{% trans 'add' %}"/>
            </form>
        </div>
    </div>
</div>
<div class="col-sm-3"></div>
{% endblock %}
